<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <base href="http://localhost:3333" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="amlc-construção, arquitectura, arquitecto, planta"
    />
    <meta
      name="description"
      content="Plantas profissionalmente arquitectadas"
    />
    <meta name="author" content="RMINDR" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/font-awesome/all/css/all.css" />
    <link rel="shortcut icon" href="" type="image/jpg" />
    <title>AMLC-Construção</title>
  </head>
  <body>
    <div class="index__container">
      <header>
        <section class="index__welcome">
          <nav>
            <ol>
              <li></li>
              <li><a href="/" target="_self">Explorar</a></li>
              <li><a href="/galeria" target="_self">Galeria</a></li>
              <li><a href="/pages/about.html" target="_self">Sobre</a></li>
              <li>
                <a href="/pages/contact.html" target="_self">Contactar</a>
              </li>
            </ol>
          </nav>
          <div class="index__text-welcome">
            <h2>
              Projectamos por completo <br />
              <b>sua casa/empresa</b>
            </h2>
            <span
              >Aqui vai uma descrição sobre o que você faz, o que te distingue
              da maioria e se possível breves estatísticas, no máximo, algo de 4
              linhas</span
            >
          </div>
          <br />
          <div class="buttons">
            <button>Explorar</button>
            <button onclick="goToContactPage()">Contactar</button>
          </div>
        </section>
        <section class="index__picture1"></section>
      </header>
      <main>
        <section class="index__main-section1">
          <div>
            <img src="/assets/images/arch14.jpg" alt="" />
          </div>
        </section>
        <section class="index__main-section2">
          <div>
            <h2>Nome da planta</h2>
            <span
              >Se estiver muito em cima da hora de falar, vá directamente ao
              último parágrafo deste capítulo. <br />
              Se o tempo for, leia apenas o resumo do texto em "Para ler em
              menos de um minuto"</span
            >
            <button class="btn" onclick="goToAboutPage()">Saber mais</button>
          </div>
        </section>
        <section class="index__main-section3">
          <div>
            <h2>Nome da planta</h2>
            <span
              >Se estiver muito em cima da hora de falar, vá directamente ao
              último parágrafo deste capítulo. <br />
              Se o tempo for, leia apenas o resumo do texto em "Para ler em
              menos de um minuto"</span
            >
            <button class="btn" onclick="goToAboutPage()">Saber mais</button>
          </div>
        </section>
        <section class="index__main-section4">
          <div>
            <img src="/assets/images/arch16.jpg" alt="" />
          </div>
        </section>
      </main>
      <footer>
        <div class="index__contacto">
          <h2>Nossas redes sociais</h2>
          <a href=""><i class="fas fa-facebook"></i>Facebook</a>
          <a href=""><i class="fas fa-instagram"></i>Instagram</a>
        </div>
        <div class="index__about-us">
          <h2>Sobre nós</h2>
          <span
            >Aqui vai uma descrição sobre o que você faz, o que te distingue da
            maioria e se possível breves estatísticas, no máximo, algo de 4
            linhas.</span
          >
        </div>
        <div class="index__other">
          <a href=""><i class="fas fa-facebook"></i>Facebook</a>
          <a href=""><i class="fas fa-instagram"></i>Instagram</a>
        </div>
      </footer>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
