<header class="index__header">
  <nav class="index__nav">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/pages/about.html">Sobre a Pambalas</a></li>
      <li><a href="/pages/post.html">Postar</a></li>
    </ol>
  </nav>
  <section class="index__search">
    <form action="findProduct" method="get">
      <input
        type="search"
        name="name"
        placeholder="Pesquise por productos"
        required
      />
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
  </section>
</header>
